<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="logitech">
    <test name="Regression">
         <classes>
             <class name="com.logitech.test.CucumberRunnerTestNG"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->